body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
}
button {
  border: none;
  font-family: 'Roboto', sans-serif;
  border: 2px solid slategray;
  border-radius: 8%;
}
button:hover,.day-container > div[data-day]:hover {
  transition-duration: 500ms;
  cursor: pointer;
  background-color: slategray;
  color: white;
}
table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

textarea {
  font-size: 1.5rem;
}
.day-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem .3rem;
}
.day-container > div[data-day]{
  height: 180px;
  width: 180px;
  border: 2px solid rgba(112, 128, 144, 0.219);
  border-radius: 5%;
  box-shadow: 5px 10px rgba(112, 128, 144, 0.062);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.6rem;
  margin: 1.2rem;
  position: relative;
}
.counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1rem;
}

.action-container {
  text-align: center;
}
.actions > button {
  color: white;
  padding: .3rem;
}
.actions > button:first-child {
  background-color: maroon;
}
.actions > button:last-child {
  background-color: teal;
}

.add-entry-button {
  padding: .6rem 1.2rem;
  font-weight: bolder;
  font-size: 1.4rem;
}

.events-heading {
  text-align: center;
}
.events-table-container {
  margin: 1.2rem;
}
.events-table {
  min-width: 90%;
  margin: 1.2rem auto;
}
.event-description {
  word-break: break-all;
}
.event-day {
  text-transform: capitalize;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.349);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  box-sizing: border-box;
  width: 600px;
  text-align: center;
  padding: 2rem;
  border: 2px solid slategray;
  background-color: white;
}
.input-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 1.2rem;
}
.input-container > * {
  font-size: 1.2rem;
}
.delete-action-container > button{
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
}
.confirm-delete {
  background-color: maroon;
  color: white;
}
.cancel-delete {
  background-color: teal;
  color: white;
}

@media (max-width: 812px) {
  .events-heading {
    font-size: 1rem;
    margin: .2rem;
  }
  .day-container > div[data-day]{
    height: 120px;
    width: 120px;
    font-size: 1.1rem;
    margin: 1rem;
  }
  .counter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: .9rem;
  }
  .add-entry-button {
    padding: .3rem .6rem;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .modal {
    width: 500px;
    padding: 2rem;
  }
  .input-container {
    margin: .2rem 1.2rem;
  }
  .input-container > * {
    font-size: 1rem;
    margin: .6rem;
  }
  form > textarea {
    height: 5em
  }
}

@media (max-width: 375px) {
  .events-heading {
    font-size: .66rem;
    margin: .2rem;
  }
  .day-container > div[data-day]{
    height: 100px;
    width: 100px;
    font-size: 1.1rem;
    margin: 1rem;
  }
  .counter {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: .9rem;
  }
  .add-entry-button {
    padding: .3rem .6rem;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  .modal {
    width: 320px;
    padding: 2rem;
  }
  .input-container {
    margin: 1.2rem;
  }
  .input-container > * {
    font-size: 1rem;
    margin: .6rem;
  }
  form > textarea {
    width: 12em
  }
}



.hidden {
  display: none;
}
